/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:space-evenly;
	align-item:center;

}
#i{ 
	border-radius:10px;
	background-color:white;
	width:31%;
	height:auto;
}
#ii{
	border-radius:10px;
	background-color:white;
	width:31%;
	padding:2px;
}
#iii{
	display:flex;
	flex-direction:column;
	border-radius:10px;
	background-color:white;
	text-align:center;
	justify-content:space-between;
	width:31%;
	padding:2px;
}

.header{
	background-color: #011e29;
	height:40px;
	text-align:center;
	padding:.0px;
}
