/*  your css code here. If applicable */
.container{
	display:flex;
	justify-content:space-evenly;
	align-item:center;

}
#i{ 
	border-radius:10px;
	background-color:white;
}
#ii{
	border-radius:10px;
	background-color:white;
}
#iii{
	display:flex;
	flex-direction:column;
	border-radius:10px;
	background-color:white;
	text-align:center;
	justify-content:space-between;
}
.head{
	background-color: #011e29;
	height:40px;
	text-align:center
}
